<!DOCTYPE html>
<html>
  <head>
    <title>TickerTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.4/angular-sanitize.min.js'></script> -->

    <link href='http://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Rokkitt|Exo|Dancing+Script|Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app='tickerTest'>
  <!-- <div class='all'>
    <nav class='navbar navbar-default' role='navigation'>
      <nav class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href="/">TickerTracker</a>
        </div>
      </nav>
    </nav>
  </div> -->
    <md-toolbar class='md-hue-2' style='background-color: tomato;'>
      <div class='md-toolbar-tools'>
        <a href="/">
          <h2>TickerTracker</h2>
        </a>
        <span flex></span>
        <!-- <md-button>Test</md-button> -->
        <% if user_signed_in? %>
          <md-button><%= link_to('Edit Account', edit_user_registration_path) %></md-button>
          <md-button><%= link_to('logout', destroy_user_session_path, :method => :delete) %></md-button>
        <% else %>
          <md-button><%= link_to('login', new_user_session_path) %></md-button>
          <md-button><%= link_to('Sign up', new_user_registration_path) %></md-button>
        <% end %>
      </div>
    </md-toolbar>
    <%= yield %>
  </body>
</html>
